<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat settings</title>
    
    <link rel="stylesheet" type="text/css" href="_styles/settings.css"/>
</head>
<body>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="title">
            <img src="_img/logo.png" alt="Logotype">
            <div class="title-text">Chatur</div>
        </div>

        <input type="text" name="channelTag" value="<%= configuration.channelTag %>" placeholder="Youtube channel tag">
        <button type="submit">Set up</button>

        <% if (typeof message != "undefined") { %>
            <div class="message"><%= message.text %></div>
        <% } %>
    </form>
</body>
</html>